* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header-bar {
  background-color: rgb(97, 97, 255);
  padding: 20px 50px;
  margin-bottom: 20px;
}

.header {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-size: 20px;
}

button {
  float: right;
  margin-right: 15px;
}


